    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-12" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
              <br/><br/>
              <h2>Overview</h2>
              <br/>
                <h4 class="text-info">Why Transtats?</h4>
                <p class="text-justify">In a software release cycle, localization steps like extracting or updating language resource, pushing them to translation platform, pulling them back and packaging, quality checks, etc., are necessary but sometimes they lack attention which affects translation quality and timely delivery.</p>
                <p class="text-justify">Transtats helps to tie up loose ends and make packages ready to ship with translation completeness. It's an attempt to automate some of the steps. Idea is to sync with translation platform for statistics (<span class="text-muted">How is the progress?</span>), compare them with product release build system (<span class="text-muted">Is latest translations packaged?</span>), looking into translation differences (<span class="text-muted">What piece of translation cause an error or remain untranslated?</span>), give at-a-glance picture for managing the l10n effort progress (<span class="text-muted">release by release</span>), and create notifications (<span class="text-muted">Based on release dates: to Developers, Quality Engineers, Language/Package Maintainers and Managers</span>).</p>
                <br/><h4 class="text-info">How Transtats Works</h4>
                <p class="text-justify">Transtats jobs sync with translation platforms, release calendars, upstream repositories and build system to pull translation resources. Then, it analyses and processes the data. Futhermore, information is represented through tables, charts &amp; graphs for territories, languages, product releases and packages. YML based jobs enhance capabilities and make it flexible!</p>
                <br/><div align="center"><img alt="Transtats Stack" src="img/ts-arch.png"/></div>
                <h4 class="text-info">Transtats Usage</h4>
                <p class="text-justify">Tracking translation completeness of packages for product releases with respect to current development seems meaningful to localization teams, developers, package maintainers and quality engineers. From estimating translation update volume to inspecting translations in the built package, Transtats can be engaged throughout a release.</p>
                <br/>
              </div>
        </div>
    </section>
