    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-12" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
              <br/><br/>
              <h2>Overview</h2>
              <br/>
                <h4 class="text-info">Why Transtats?</h4>
                <p class="text-justify">In a software release cycle, localization steps like extracting or updating language resource, pushing them to translation platform, pulling them back and packaging, quality checks, etc., seem necessary but sometimes they lack attention which affects translation quality and timely delivery.</p>
                <p class="text-justify">Transtats helps to tie up loose ends in the localization cycle. It's an attempt to automate some of the steps. Idea is to sync with translation platform for statistics (<i class="text-muted">How progress is going?</i>), comparing stats with product release build systems (<i class="text-muted">Is latest translations packaged?</i>), managing translation differences (<i class="text-muted">What piece of translation cause an error or left to get translated?</i>), keep upstream repository updated (<i class="text-muted">May update upstream with translations</i>) and create notifications (<i class="text-muted">Based on release dates: to Developers, Quality Engineers and Managers</i>).</p>
                <br/><h4 class="text-info">How Transtats Works</h4>
                <p class="text-justify">Transtats jobs sync with translation platforms, release calendars, build systems and upstream repositories for packages to process translation data. And information is represented through charts &amp; graphs for enabled languages; grouped by product releases. YML based jobs enhance capabilities and make it flexible!</p>
                <br/><div align="center"><img alt="Transtats Stack" src="img/ts-arch.png"/></div>
                <h4 class="text-info">Transtats Usage</h4>
                <p class="text-justify">Tracking translation completeness of packages for product releases with respect to current development seems meaningful to localization teams, developers, package maintainers and quality engineers. From estimating translation update volume to inspecting translations in the built package, Transtats can be engaged throughout a release.</p>
                <br/>
              </div>
        </div>
    </section>
