<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <span class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">Overview</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#features">Use Cases</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://docs.transtats.org/" target="_blank">Documentation</a>
                    </li>
                </ul>
            </span>
            <span class="col-md-8 pull-right">
                <span style="padding-right: 20px" class="pull-left"><img alt="Red Hat" src="img/redhat.png" style="width:150px;height:35px;"/></span>
                <span class="text-muted" style="font-size: small">Transtats is a <a href="https://www.redhat.com/" target="_blank">Red Hat</a> sponsored project.<br/>
                    Content is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                    Creative Commons Attribution 4.0 International license.</a>
                </span>
            </span>
        </div>
    </div>
</footer>
