<section id="get-involved">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2>Get Involved</h2>
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
						<li><a href="https://github.com/transtats/transtats/releases" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-cloud-download fa-fw"></i> Releases</a></li>
						<li><a href="https://github.com/transtats/transtats/blob/master/CONTRIBUTING.md" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-send fa-fw"></i> Contribute</a></li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
